.u-section-1 .u-sheet-1 {
  min-height: 412px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 63px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: 18px 460px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    width: 680px;
    margin-right: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 487px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 52px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  margin: 28px auto 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  margin: 12px 460px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 28px 770px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 0 770px 60px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    width: 680px;
    margin-right: 260px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 570px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 40px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 350px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 170px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}