.u-section-1 .u-sheet-1 {
  min-height: 412px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 58px 485px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 21px 444px 0 auto;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: 21px 214px 60px 246px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 366px;
  }

  .u-section-1 .u-text-3 {
    width: 680px;
    margin-left: 146px;
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 306px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 280px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 36px;
    margin-right: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 230px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 210px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 145px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 132px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 487px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 60px 482px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  margin: 20px 186px 0 auto;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  margin: 20px 212px 0 249px;
}

.u-section-2 .u-text-4 {
  margin: 28px -12px 0 782px;
}

.u-section-2 .u-text-5 {
  margin: 0 0 60px 770px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 398px;
  }

  .u-section-2 .u-text-3 {
    width: 680px;
    margin-left: 149px;
    margin-right: 112px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 582px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 39px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 362px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 229px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 140px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 182px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 144px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 88px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 417px;
}